[Unit]
Description=Initial GPIO setup
DefaultDependencies=no
RequiresMountsFor=/sys

[Service]
Type=oneshot
ExecStart=/usr/sbin/gpio-setup

[Install]
WantedBy=sysinit.target

