[Unit]
Description = /srv on SD card
BindsTo = mmcblk0p1.device
RequiresOverridable = systemd-fsck@dev-mmcblk0p1.service
After = systemd-fsck@dev-mmcblk0p1.service

[Mount]
What = /dev/mmcblk0p1
Where = /srv
Type = ext4
Options = noatime,discard

[Install]
WantedBy = local-fs.target
