[Unit]
Description=System upgrade during bootup
DefaultDependencies=no
After=sysinit.target paths.target var.mount
Before=basic.target
Requires=var.mount

[Service]
Type=oneshot
ExecStart=/usr/sbin/upgrade

[Install]
WantedBy=basic.target

