[Unit]
Description = /var on separate partition
# trigger mounting when not running with nfsroot
ConditionKernelCommandLine =|!root=/dev/nfs
# disable mount when booting from /dev/sda (qemu)
ConditionKernelCommandLine =!root=/dev/sda
RequiresOverridable = systemd-fsck@dev-mtdblock7.service
After = systemd-fsck@dev-mtdblock7.service

[Mount]
What = /dev/mtdblock7
Where = /var
Type = ext4
Options = noatime

[Install]
WantedBy = local-fs.target
