[Unit]
Description=Open Data Acquisition Framework - DBus Configuration Daemon
After=syslog.target network.target opendaf-dafman.service
Before=opendaf.service

[Service]
EnvironmentFile=/etc/default/opendaf
ExecStart=/usr/bin/dafmand
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
