[Unit]
Description=Mod upgrade during bootup
DefaultDependencies=no
After=sysinit.target paths.target upgrade.service var.mount
Before=basic.target
ConditionPathExists=/usr/sbin/mod-upgrade
Requires=var.mount

[Service]
Type=oneshot
ExecStart=/usr/sbin/mod-upgrade

[Install]
WantedBy=basic.target

