[Unit]
Description=Setup integrated GSM modem
DefaultDependencies=no
RequiresMountsFor=/sys
After=gpio-setup.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/modem-setup

[Install]
WantedBy=sysinit.target

