[Unit]
Description=Setup integrated electrometer
DefaultDependencies=no
RequiresMountsFor=/sys

[Service]
Type=oneshot
ExecStart=/usr/sbin/meter-setup

[Install]
WantedBy=sysinit.target

