BR2_arm=y
BR2_cortex_a9=y
BR2_JLEVEL=15
BR2_OPTIMIZE_3=y
BR2_KERNEL_HEADERS_VERSION=y
BR2_DEFAULT_KERNEL_VERSION="3.1.10"
BR2_UCLIBC_CONFIG="toolchain/uClibc/uClibc-0.9.33-ADX2.1.config"
BR2_GCC_VERSION_4_7_X=y
BR2_EXTRA_GCC_CONFIG_OPTIONS="--with-fpu=vfpv3-d16"
BR2_PACKAGE_GDB=y
# BR2_SOFT_FLOAT is not set
BR2_TARGET_OPTIMIZATION="-pipe -march=armv7-a -mfloat-abi=softfp -mfpu=vfpv3-d16 -mtune=cortex-a9 -O3"
BR2_TOOLCHAIN_BUILDROOT_LARGEFILE=y
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_TARGET_GENERIC_HOSTNAME="monitor"
BR2_TARGET_GENERIC_ISSUE="Welcome to the Rover Monitor"
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_PATH="fs/skeleton-ADX2.1"
BR2_PACKAGE_BUSYBOX_CONFIG="package/busybox/busybox-1.20.x-ADX2.1.config"
BR2_PACKAGE_GSTREAMER=y
BR2_PACKAGE_GST_PLUGINS_GOOD=y
BR2_PACKAGE_GST_PLUGINS_GOOD_JPEG=y
BR2_PACKAGE_BZIP2=y
BR2_PACKAGE_STRACE=y
BR2_PACKAGE_VALGRIND=y
BR2_PACKAGE_FBV=y
BR2_PACKAGE_QT=y
BR2_PACKAGE_QT_LICENSE_APPROVED=y
BR2_PACKAGE_QT_QTFREETYPE=y
BR2_PACKAGE_QT_QTJPEG=y
BR2_PACKAGE_QT_QTPNG=y
BR2_PACKAGE_QT_MOUSE_LINUXTP=y
BR2_PACKAGE_QT_MOUSE_LINUXINPUT=y
BR2_PACKAGE_QT_MOUSE_TSLIB=y
BR2_PACKAGE_QT_KEYBOARD_TTY=y
BR2_PACKAGE_QT_KEYBOARD_LINUXINPUT=y
BR2_PACKAGE_QT_PHONON_SWAP_RGB=y
BR2_PACKAGE_QT_STL=y
BR2_PACKAGE_PICOCOM=y
BR2_PACKAGE_PYTHON=y
BR2_PACKAGE_PYTHON_SERIAL=y
BR2_PACKAGE_JPEG_LEAVE_TOOLS=y
BR2_PACKAGE_OPENCV=y
# BR2_PACKAGE_OPENCV_LIB_CALIB3D is not set
# BR2_PACKAGE_OPENCV_LIB_CONTRIB is not set
# BR2_PACKAGE_OPENCV_LIB_FEATURES2D is not set
# BR2_PACKAGE_OPENCV_LIB_FLANN is not set
# BR2_PACKAGE_OPENCV_LIB_LEGACY is not set
# BR2_PACKAGE_OPENCV_LIB_ML is not set
# BR2_PACKAGE_OPENCV_LIB_OBJDETECT is not set
# BR2_PACKAGE_OPENCV_LIB_PHOTO is not set
# BR2_PACKAGE_OPENCV_LIB_STITCHING is not set
# BR2_PACKAGE_OPENCV_LIB_TS is not set
# BR2_PACKAGE_OPENCV_LIB_VIDEO is not set
# BR2_PACKAGE_OPENCV_LIB_VIDEOSTAB is not set
# BR2_PACKAGE_OPENCV_WITH_QT is not set
BR2_PACKAGE_ACE=y
BR2_PACKAGE_PCRE=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_HTOP=y
BR2_PACKAGE_KMOD=y
BR2_PACKAGE_UTIL_LINUX=y
BR2_PACKAGE_JT=y
BR2_PACKAGE_MONITOR=y
