BR2_arm=y
BR2_cortex_a8=y
BR2_JLEVEL=10
BR2_KERNEL_HEADERS_3_1=y
BR2_UCLIBC_CONFIG="toolchain/uClibc/uClibc-0.9.33-dls2.config"
BR2_GCC_VERSION_4_7_X=y
BR2_EXTRA_GCC_CONFIG_OPTIONS="--with-fpu=neon"
BR2_PACKAGE_GDB=y
BR2_PACKAGE_GDB_SERVER=y
BR2_PACKAGE_GDB_HOST=y
# BR2_SOFT_FLOAT is not set
BR2_TARGET_OPTIMIZATION="-pipe -march=armv7-a -mfloat-abi=softfp -mfpu=neon -ftree-vectorize -mtune=cortex-a8 -O3"
BR2_TOOLCHAIN_BUILDROOT_LARGEFILE=y
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_PATH="fs/skeleton-dls-2"
BR2_PACKAGE_BUSYBOX_CONFIG="package/busybox/busybox-1.20.x-DLS-2.config"
BR2_PACKAGE_STRACE=y
BR2_PACKAGE_VALGRIND=y
# BR2_PACKAGE_VALGRIND_CACHEGRIND is not set
# BR2_PACKAGE_VALGRIND_CALLGRIND is not set
# BR2_PACKAGE_VALGRIND_HELGRIND is not set
# BR2_PACKAGE_VALGRIND_DRD is not set
# BR2_PACKAGE_VALGRIND_MASSIF is not set
# BR2_PACKAGE_VALGRIND_DHAT is not set
BR2_PACKAGE_FBV=y
BR2_PACKAGE_QT=y
BR2_PACKAGE_QT_LICENSE_APPROVED=y
BR2_PACKAGE_QT_QTFREETYPE=y
BR2_PACKAGE_QT_QTJPEG=y
BR2_PACKAGE_QT_QTPNG=y
BR2_PACKAGE_QT_SQL_MODULE=y
BR2_PACKAGE_QT_SQLITE_QT=y
BR2_PACKAGE_QT_MOUSE_TSLIB=y
BR2_PACKAGE_QT_DBUS=y
BR2_PACKAGE_QT_XMLPATTERNS=y
BR2_PACKAGE_QT_WEBKIT=y
BR2_PACKAGE_QT_STL=y
BR2_PACKAGE_QT_SCRIPTTOOLS=y
BR2_PACKAGE_QT_DECLARATIVE=y
BR2_PACKAGE_MTD=y
BR2_PACKAGE_PICOCOM=y
BR2_PACKAGE_REMSERIAL=y
BR2_PACKAGE_PYTHON=y
BR2_PACKAGE_PYTHON_PROTOBUF=y
BR2_PACKAGE_PYTHON_MAKO=y
BR2_PACKAGE_PYTHON_CHERRYPY=y
BR2_PACKAGE_CSR_WIFI_KMOD=y
BR2_PACKAGE_CSR_WIFI_USERSPACE=y
BR2_PACKAGE_TSLIB=y
BR2_PACKAGE_ACE=y
BR2_PACKAGE_BOOST=y
BR2_PACKAGE_BOOST_SYSTEM=y
BR2_PACKAGE_PROTOBUF=y
BR2_PACKAGE_BLUEZ_UTILS=y
BR2_PACKAGE_BLUEZ_UTILS_COMPAT=y
BR2_PACKAGE_BLUEZ_UTILS_BCCMD=y
BR2_PACKAGE_BLUECORE=y
BR2_PACKAGE_BLUECORE_RESET_GPIO="55"
BR2_PACKAGE_BLUECORE_RESET_HOLD_TIME=300000
BR2_PACKAGE_BLUECORE_TTY="ttyO5"
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_NTP=y
# BR2_PACKAGE_NTP_NTPD is not set
BR2_PACKAGE_NTP_NTPDATE=y
BR2_PACKAGE_WIRELESS_TOOLS=y
BR2_PACKAGE_WIRELESS_TOOLS_LIB=y
BR2_PACKAGE_WPA_SUPPLICANT=y
BR2_PACKAGE_WPA_SUPPLICANT_EAP=y
BR2_PACKAGE_WPA_SUPPLICANT_CLI=y
BR2_PACKAGE_WPA_SUPPLICANT_PASSPHRASE=y
BR2_PACKAGE_WPA_SUPPLICANT_WPS=y
BR2_PACKAGE_HTOP=y
BR2_PACKAGE_SURPC=y
BR2_PACKAGE_SURPC_PYTHON=y
BR2_PACKAGE_DLS2_DCS=y
BR2_PACKAGE_DLS2_DCSCONFIG=y
BR2_PACKAGE_DLS2_GUI=y
BR2_TARGET_ROOTFS_UBIFS=y
BR2_TARGET_ROOTFS_UBIFS_LEBSIZE=0x1f000
BR2_TARGET_ROOTFS_UBIFS_MAXLEBCNT=820
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARDNAME="dls2"
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_GIT_REPO_URL="ssh://merlin:29418/tx48/u-boot.git"
BR2_TARGET_UBOOT_CUSTOM_GIT_VERSION="stable-dls-2"
BR2_TARGET_UBOOT_FORMAT_IMG=y
BR2_TARGET_UBOOT_SPL=y
BR2_TARGET_UBOOT_SPL_NAME="MLO"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_GIT_REPO_URL="ssh://merlin:29418/tx48/linux.git"
BR2_LINUX_KERNEL_CUSTOM_GIT_VERSION="stable-dls-2"
BR2_LINUX_KERNEL_DEFCONFIG="dls2"
