BR2_arm=y
BR2_JLEVEL=10
BR2_TOOLCHAIN_BUILDROOT_VENDOR="swindustry"
BR2_KERNEL_HEADERS_3_14=y
BR2_TARGET_GENERIC_HOSTNAME="recovery"
BR2_TARGET_GENERIC_ISSUE="Welcome to system recovery"
BR2_TARGET_GENERIC_ROOT_PASSWD="gandalf"
BR2_TARGET_GENERIC_GETTY_PORT="ttyAMA0"
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set
BR2_ROOTFS_OVERLAY="board/tind/compact-rtu/overlay-recovery"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="gitolite@merlin.swind.sk:tx28/linux"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="master-dt"
BR2_LINUX_KERNEL_DEFCONFIG="tx28_headless_lowmem"
BR2_LINUX_KERNEL_UIMAGE_LOADADDR="0x40008000"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="imx28-dave"
BR2_PACKAGE_BUSYBOX_CONFIG="board/tind/compact-rtu/busybox-1.21.x-recovery.config"
BR2_PACKAGE_BUSYBOX_WATCHDOG=y
BR2_PACKAGE_MTD=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_VSFTPD=y
BR2_PACKAGE_GNUPG=y
BR2_PACKAGE_GNUPG_RSA=y
BR2_PACKAGE_FWUPDATE=y
BR2_TARGET_ROOTFS_CPIO_XZ=y
BR2_TARGET_ROOTFS_CPIO_UIMAGE=y
BR2_TARGET_ROOTFS_INITRAMFS=y
