BR2_arm=y
BR2_JLEVEL=10
BR2_KERNEL_HEADERS_3_2=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_PACKAGE_HOST_GDB=y
BR2_GDB_VERSION_7_4=y
BR2_TARGET_GENERIC_HOSTNAME="lightpanel"
BR2_TARGET_GENERIC_ISSUE="Welcome to LIGHTpanel"
BR2_ROOTFS_DEVICE_TABLE="board/tind/lightpanel/device_table.txt"
BR2_TARGET_GENERIC_ROOT_PASSWD="gandalf"
BR2_TARGET_GENERIC_GETTY_PORT="ttyAMA0"
BR2_ROOTFS_OVERLAY="board/tind/lightpanel/overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/tind/lightpanel/scripts/pb_add_runit_to_inittab board/tind/lightpanel/scripts/pb_setup_users support/scripts/pb_release"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/tind/lightpanel/scripts/pi_mkvar board/tind/lightpanel/scripts/pi_sign_rootfs support/scripts/pi_release"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="gitolite@merlin.swind.sk:tx28/linux"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="master"
BR2_LINUX_KERNEL_DEFCONFIG="ftt_tx_cap"
BR2_PACKAGE_BUSYBOX_CONFIG="board/tind/lightpanel/busybox-1.21.x.config"
BR2_PACKAGE_BUSYBOX_WATCHDOG=y
BR2_PACKAGE_GDB=y
BR2_PACKAGE_STRACE=y
BR2_PACKAGE_MTD=y
BR2_PACKAGE_QT=y
BR2_PACKAGE_QT_LICENSE_APPROVED=y
BR2_PACKAGE_QT_QTFREETYPE=y
BR2_PACKAGE_QT_GIF=y
BR2_PACKAGE_QT_LIBMNG=y
BR2_PACKAGE_QT_QTJPEG=y
BR2_PACKAGE_QT_SYSTEMPNG=y
BR2_PACKAGE_QT_SYSTEMTIFF=y
BR2_PACKAGE_QT_SQL_MODULE=y
BR2_PACKAGE_QT_SQLITE_QT=y
BR2_PACKAGE_QT_MOUSE_TSLIB=y
BR2_PACKAGE_QT_MOUSE_NO_QWS_CURSOR=y
BR2_PACKAGE_QT_SVG=y
BR2_PACKAGE_QT_WEBKIT=y
BR2_PACKAGE_QT_STL=y
BR2_PACKAGE_QT_SCRIPTTOOLS=y
BR2_PACKAGE_QT_DECLARATIVE=y
BR2_PACKAGE_PICOCOM=y
BR2_PACKAGE_REMSERIAL=y
BR2_PACKAGE_RTUADMIN_VERSION="lightpanel"
BR2_PACKAGE_RTUADMIN_SERVER=y
BR2_PACKAGE_RTUADMIN_CLIENT=y
BR2_PACKAGE_RTUADMIN_TEMPLATES=y
BR2_PACKAGE_LUA=y
BR2_PACKAGE_LUACOSMO=y
BR2_PACKAGE_LUALPEG=y
BR2_PACKAGE_PYTHON=y
BR2_PACKAGE_PYTHON_MAKO=y
BR2_PACKAGE_TSLIB=y
BR2_PACKAGE_CJSON=y
BR2_PACKAGE_ACE=y
BR2_PACKAGE_ARGP_STANDALONE=y
BR2_PACKAGE_BOOST=y
BR2_PACKAGE_BOOST_REGEX=y
BR2_PACKAGE_BOOST_SIGNALS=y
BR2_PACKAGE_BOOST_SYSTEM=y
BR2_PACKAGE_ELFUTILS=y
BR2_PACKAGE_LINUX_PAM=y
BR2_PACKAGE_PROTOBUF=y
BR2_PACKAGE_TZDATA=y
BR2_PACKAGE_TZDATA_ZONELIST="europe"
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_LIGHTTPD=y
BR2_PACKAGE_LIGHTTPD_PAM=y
BR2_PACKAGE_LINKS=y
BR2_PACKAGE_NTP=y
BR2_PACKAGE_NTP_NTPDATE=y
BR2_PACKAGE_NTP_NTPQ=y
BR2_PACKAGE_VSFTPD=y
BR2_PACKAGE_FWUPDATE=y
BR2_PACKAGE_FWUPDATE_INSTALL_MARKREADY_INITSCRIPT=y
BR2_PACKAGE_HTOP=y
BR2_PACKAGE_UTIL_LINUX=y
BR2_PACKAGE_DLS2_VERSION="light-lumen"
BR2_PACKAGE_DLS2_DCS=y
BR2_PACKAGE_DLS2_DCS_TARGET_PLATFORM_FTT_TX_2_2=y
BR2_PACKAGE_DLS2_DCSCONFIG=y
BR2_PACKAGE_DLS2_GUI=y
BR2_PACKAGE_OPENBOX_TEMPLATES=y
BR2_TARGET_ROOTFS_UBIFS=y
BR2_TARGET_ROOTFS_UBIFS_LEBSIZE=0x1f000
BR2_TARGET_ROOTFS_UBIFS_MAXLEBCNT=830
BR2_TARGET_ROOTFS_UBIFS_RT_ZLIB=y
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARDNAME="ftt_tx"
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="gitolite@merlin.swind.sk:tx28/u-boot"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="master"
BR2_TARGET_UBOOT_FORMAT_SB=y
