BR2_arm=y
BR2_JLEVEL=10
BR2_KERNEL_HEADERS_3_2=y
BR2_TOOLCHAIN_BUILDROOT_EGLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_PACKAGE_HOST_GDB=y
BR2_TARGET_GENERIC_HOSTNAME="compactio"
BR2_TARGET_GENERIC_ISSUE="Welcome to CompactIO"
BR2_ROOTFS_DEVICE_TABLE="board/tind/compact-rtu/device_table.txt"
BR2_TARGET_GENERIC_ROOT_PASSWD="gandalf"
BR2_TARGET_GENERIC_GETTY_PORT="ttyAMA0"
BR2_ROOTFS_OVERLAY="board/tind/compact-rtu/overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/tind/compact-rtu/scripts/add_runit_to_inittab board/tind/compact-rtu/scripts/setup_users board/tind/compact-rtu/scripts/pb_mod_zlatastudna"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/tind/compact-rtu/scripts/pi_mkvar board/tind/compact-rtu/scripts/pi_sign_rootfs"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="gitolite@merlin.swind.sk:tx28/linux"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="master"
BR2_LINUX_KERNEL_DEFCONFIG="compactio"
BR2_PACKAGE_BUSYBOX_CONFIG="board/compact-rtu/busybox-1.21.x.config"
BR2_PACKAGE_BUSYBOX_WATCHDOG=y
BR2_PACKAGE_GDB=y
BR2_PACKAGE_LTRACE=y
BR2_PACKAGE_STRACE=y
BR2_PACKAGE_MTD=y
BR2_PACKAGE_PICOCOM=y
BR2_PACKAGE_REMSERIAL=y
BR2_PACKAGE_OPENDAF=y
BR2_PACKAGE_OPENDAF_PLATFORM_OPENBOX=y
BR2_PACKAGE_OPENDAF_STARTUP_RUNIT=y
BR2_PACKAGE_OPENDAF_APPCONF=y
BR2_PACKAGE_OPENDAF_APPCONF_NAME="compactio-zlatastudna"
BR2_PACKAGE_GNUTLS=y
BR2_PACKAGE_SQLITE=y
BR2_PACKAGE_LIBPNG=y
BR2_PACKAGE_LIBUNGIF=y
BR2_PACKAGE_TIFF=y
BR2_PACKAGE_TSLIB=y
BR2_PACKAGE_ACE=y
BR2_PACKAGE_ARGP_STANDALONE=y
BR2_PACKAGE_BOOST=y
BR2_PACKAGE_BOOST_REGEX=y
BR2_PACKAGE_BOOST_SIGNALS=y
BR2_PACKAGE_BOOST_SYSTEM=y
BR2_PACKAGE_ELFUTILS=y
BR2_PACKAGE_LIBFFI=y
BR2_PACKAGE_PROTOBUF=y
BR2_PACKAGE_TZDATA=y
BR2_PACKAGE_TZDATA_ZONELIST="europe"
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_HEIRLOOM_MAILX=y
BR2_PACKAGE_LIGHTTPD=y
BR2_PACKAGE_LIGHTTPD_OPENSSL=y
BR2_PACKAGE_LIGHTTPD_PCRE=y
BR2_PACKAGE_LINKS=y
BR2_PACKAGE_NETSNMP=y
BR2_PACKAGE_NTP=y
BR2_PACKAGE_NTP_NTPDATE=y
BR2_PACKAGE_NTP_NTPQ=y
BR2_PACKAGE_NULLMAILER=y
BR2_PACKAGE_OPENVPN=y
BR2_PACKAGE_VSFTPD=y
BR2_PACKAGE_SIMPLEMAIL=y
BR2_PACKAGE_FWUPDATE=y
BR2_PACKAGE_FWUPDATE_INSTALL_MARKREADY_INITSCRIPT=y
BR2_PACKAGE_HTOP=y
BR2_PACKAGE_UTIL_LINUX=y
BR2_PACKAGE_UTIL_LINUX_BINARIES=y
BR2_PACKAGE_UTIL_LINUX_CHFN_CHSH=y
BR2_PACKAGE_OPENBOX_TEMPLATES=y
BR2_TARGET_ROOTFS_UBIFS=y
BR2_TARGET_ROOTFS_UBIFS_LEBSIZE=0x1f000
BR2_TARGET_ROOTFS_UBIFS_MAXLEBCNT=830
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARDNAME="compactio"
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="gitolite@merlin.swind.sk:tx28/u-boot"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="master"
BR2_TARGET_UBOOT_FORMAT_SB=y
